.text-xs {
    font-size: var(--font-xs);
}
.text-sm {
    font-size: var(--font-sm);
}
.text-md {
    font-size: var(--font-md);
}
.text-lg {
    font-size: var(--font-lg);
}
.text-xl {
    font-size: var(--font-xl);
}
.text-2xl {
    font-size: var(--font-2xl);
}
.text-3xl {
    font-size: var(--font-3xl);
}
.text-4xl {
    font-size: var(--font-4xl);
}
.text-5xl {
    font-size: var(--font-5xl);
}
.text-6xl {
    font-size: var(--font-6xl);
}
.text-7xl {
    font-size: var(--font-7xl);
}
.text-8xl {
    font-size: var(--font-8xl);
}
.text-9xl {
    font-size: var(--font-9xl);
}
