@utility text-outline {
    --outline-width: 1px;
    text-shadow:
        calc(-1 * var(--outline-width)) calc(-1 * var(--outline-width)) 0px var(--outline-color),
        var(--outline-width) calc(-1 * var(--outline-width)) 0px var(--outline-color),
        calc(-1 * var(--outline-width)) var(--outline-width) 0px var(--outline-color),
        var(--outline-width) var(--outline-width) 0px var(--outline-color);
}

@utility text-outline-black {
    --outline-color: black;
}

@utility text-outline-white {
    --outline-color: white;
}

/* @plugin "../../plugins/textOutlinesPlugin.js"; */
